@use '../../../../styles.scss' as *;

:host {
  --search-bar-background: #2a2f38;
  --search-bar-max-width: 800px;
  --search-bar-radius: 50px;
  --search-bar-padding: 20px;
  --search-bar-font-size: 20px;
  --search-bar-border: 0;
  --search-bar-outline-color: #8f7d5c;
}

.search-bar {
  @include flex-center;
  width: var(--search-bar-max-width);

  input {
    width: 100%;
    background-color: var(--search-bar-background);
    border: var(--search-bar-border);
    border-radius: var(--search-bar-radius);
    padding: var(--search-bar-padding);
    font-size: var(--search-bar-font-size);
    outline-offset: 0;
    caret-color: white;

    &:focus {
      outline: 2px solid var(--search-bar-outline-color);
    }
  }
}
