.card {
  display: flex;
  gap: 20px;
  background: transparent;
  height: 500px;
  width: 80%;
  margin: 0 auto;

  &__left {
    flex: 1;
    img {
      height: 100%;
    }
  }

  &__right {
  }
}
