@use '../../../styles.scss' as *;

.landing {
  height: 100dvh;
  background-color: #191a1b;
  padding: 20px;

  &__lists {
    margin-top: 50px;
    p {
      margin-bottom: 20px;
      padding-left: 5px;
    }
  }
}
